<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="Archery\Game.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ArcheryEntities" connectionString="metadata=res://*/Archery.Model.csdl|res://*/Archery.Model.ssdl|res://*/Archery.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=joqvc4atg8.database.windows.net;initial catalog=jogos-de-garagem;persist security info=True;user id=jdgaragem;password=jdg@)!$2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LogEntities" connectionString="metadata=res://*/Log.LogModel.csdl|res://*/Log.LogModel.ssdl|res://*/Log.LogModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=joqvc4atg8.database.windows.net;initial catalog=jogos-de-garagem;persist security info=True;user id=jdgaragem;password=jdg@)!$2014;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
